body{
    background-color: white;
    color: black;
}
/* Maint*/
.border{
    border: orchid;
    border-width: 5px;
}
.maint{
    background-color: orange;
    color: black;
}
.henny{
    font-family: 'Henny Penny', cursive;
}
.hsz{ 
    font-size: 4rem;
    margin: 10px 0px 8px 0px;
}
.h2sz{ 
    font-size: 2rem;
    margin: 8px 0px 0px 0px;
}
.constdg{
    height: 100px;
    width: 50px;
}
/* NAV */

.nav-link{
    font-size: 1.5rem;
}

/* IND Banner */
.red{
    color: red;
}

.txtcnt {
    text-align: center;
}



/* IND Jumbotron */
.picframe {
    margin-left: 19%;

}
.fpics {
    height: 25rem;
    width: 50rem;
    
}
.tsty{
    text-align: center;
    font-size: 1.7rem;
}
/* Tile rates */
.tiles{
    text-align: center;
    font-size: 1rem;
    margin: 0 .5rem 0 .5rem;
    background-color: white;
    color: black;
}

/* Reviews */

.rv-img{
    display: inline-block;
    height: 10rem;
    width: 11rem;
    border-style: solid;
    border-color: black;
    border-radius: 100%;
}
.rv-main{
    padding-left: 2%;
    display: inline-block;
    font-family: 'Henny Penny', cursive;
    font-size: 3rem;
}

.rv-sig{
    font-family: 'Henny Penny', cursive;
    font-size: 2rem;
    text-align: center;
}